.calendar .day-of-week {
  font-size: 36px;
  user-select: none;
}

.calendar .date-of-day {
  font-size: 32px;
  font-weight: 200;
  opacity: 0.65;
  user-select: none;
}

.month-year-header .month {
  font-size: 36px;
  text-align: left;
  user-select: none;
}

.month-year-header .year {
  font-size: 32px;
  font-weight: 200;
  opacity: 0.65;
  text-align: left;
  user-select: none;
}

/* Controls */
.text-field {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.text-field label {
  font-size: 16px;
  color: #666;
}

.text-field input, .text-field .input {
  font-size: 20px;
  padding-left: 4px;
  border: 3px solid black;
  outline: none !important;
  border-radius: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.text-field input:focus {
  border: 3px solid rgb(0, 132, 255);
}