.calendar .day-of-week {
  font-size: 36px;
  user-select: none;
}

.calendar .date-of-day {
  font-size: 32px;
  font-weight: 200;
  opacity: 0.65;
  user-select: none;
}

.month-year-header .month {
  font-size: 36px;
  text-align: left;
  user-select: none;
}

.month-year-header .year {
  font-size: 32px;
  font-weight: 200;
  opacity: 0.65;
  text-align: left;
  user-select: none;
}

/* Controls */
.text-field {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.text-field label {
  font-size: 16px;
  color: #666;
}

.text-field input,
.text-field .input {
  font-size: 20px;
  padding-left: 4px;
  border: 3px solid black;
  outline: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.text-field input:focus {
  border: 3px solid rgb(0, 132, 255);
}

.date-selector {
  font-size: 20px;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

button:disabled {
  border: 3px solid rgb(200, 200, 200);
  background-color: rgb(200, 200, 200);
  color: white;
  cursor: not-allowed;
}

button.secondary {
  border: 3px solid rgb(0, 132, 255);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 132, 255);
}

button.secondary:active {
  border: 3px solid rgb(0, 132, 255);
  color: rgb(0, 132, 255);
  background-color: rgba(0, 132, 255, 0.25);
}

button.secondary:disabled {
  border: 3px solid rgb(200, 200, 200);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(200, 200, 200);
}

button.primary {
  border: 3px solid rgb(0, 132, 255);
  background-color: rgb(0, 132, 255);
  color: white;
}

button.primary:active {
  color: rgb(0, 132, 255);
  background-color: rgba(0, 132, 255, 0.25);
}

button.primary:disabled {
  border: 3px solid rgb(200, 200, 200);
  background-color: rgb(200, 200, 200);
  color: white;
}

button.tertiary {
  border: 3px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 132, 255);
}

button.tertiary:active {
  transition: border 150ms ease-out;
  border: 3px solid rgb(0, 132, 255);
  color: rgb(0, 132, 255);
  background-color: rgba(0, 132, 255, 0.25);
}

button.tertiary:disabled {
  border: 3px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(200, 200, 200);
}
