@import url("./palette.css");

.calendar .day-of-week {
  font-size: 36px;
  user-select: none;
}

.calendar .date-of-day {
  font-size: 32px;
  font-weight: 200;
  opacity: 0.65;
  user-select: none;
}

.month-year-header .month {
  font-size: 36px;
  text-align: left;
  user-select: none;
}

.month-year-header .year {
  font-size: 32px;
  font-weight: 200;
  opacity: 0.65;
  text-align: left;
  user-select: none;
}

/* Controls */
.text-field {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color-primary);
}

.text-field label {
  font-size: 16px;
  color: var(--text-color-secondary);
}

.text-field input,
.text-field .input {
  transition: border-color 200ms ease-out;
  font-size: 20px;
  padding-left: 4px;
  border: 3px solid var(--boundary-color);
  border-radius: 5px;
  outline: none !important;
  -webkit-tap-highlight-color: var(--transparent);
}

.text-field input:focus,
.text-field .input:focus,
.text-field .input.date.open {
  border: 3px solid var(--action-color);
}

.text-field .input.date {
  color: var(--action-color);
}

.date-selector {
  font-size: 20px;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

button:disabled {
  border: 3px solid var(--disabled-color);
  background-color: var(--disabled-color);
  color: white;
  cursor: not-allowed;
}

button.secondary {
  border: 3px solid var(--action-color);
  background-color: var(--transparent);
  color: var(--action-color);
}

button.secondary:active {
  border: 3px solid var(--action-color);
  color: var(--action-color);
  background-color: var(--action-color-transparent);
}

button.secondary:disabled {
  border: 3px solid var(--disabled-color);
  background-color: var(--transparent);
  color: var(--disabled-color);
}

button.primary {
  border: 3px solid var(--action-color);
  background-color: var(--action-color);
  color: white;
}

button.primary:active {
  color: var(--action-color);
  background-color: var(--action-color-transparent);
}

button.primary:disabled {
  border: 3px solid var(--disabled-color);
  background-color: var(--disabled-color);
  color: white;
}

button.tertiary {
  border: 3px solid var(--transparent);
  background-color: var(--transparent);
  color: var(--action-color);
}

button.tertiary:active {
  transition: border 150ms ease-out;
  border: 3px solid var(--action-color);
  color: var(--action-color);
  background-color: var(--action-color-transparent);
}

button.tertiary:disabled {
  border: 3px solid var(--transparent);
  background-color: var(--transparent);
  color: var(--disabled-color);
}
